<div *ngIf="coach as coach" class="container flex column h-centered">
  <div *ngIf="changingImage" class="change-img centered column ">
    <div class="flex">
      <div *ngFor="let img of images">
        <input type="radio" name="selected" (change)="selectImage(img)" />
        <img [src]="img" alt="img" />
      </div>
    </div>
    <div class="flex">
    <button (click)="changeProgilePhoto(selectedImage!)">change</button>
    <button (change)="cancel()" >cancel</button>
  </div>
  </div>
  <div class="userInfo flex">
    <div class="img-container flex h-centered column">
      <img [src]="coach.profileImgUrl" alt="img" />
      <button *ngIf="coach.id === loggedId" (click)="change()" >Change</button>
    </div>
    <div class="data flex column">
      <h2>nickName: {{coach.nickName}}</h2>
      <p>Email: {{coach.email}}</p>
      <p>Total Likes: {{coach.totalLikes}}</p>
      <p *ngIf="coach.bmi">bmi: {{ coach.bmi }}</p>
      <button routerLink="/calculate/bmi" *ngIf="coach.bmi === ''">
        calculate Your BMI
      </button>
      <p *ngIf="coach.bmr">bmr: {{ coach.bmr }}</p>
      <button routerLink="/calculate/bmr" *ngIf="coach.bmr === ''">
        calculate Your BMR
      </button>
      <p *ngIf="coach.orm">One-Rep-Max: {{ coach.orm }}</p>
      <button routerLink="/calculate/one-rep-max" *ngIf="coach.orm === ''">
        calculate Your One-Rep-Max
      </button>
    </div>
  </div>
  <h2 *ngIf="coach.id === loggedId">Requested Plans:</h2>
  <div *ngIf="coach.requests && coach.requests.length > 1 && coach.id === loggedId" class="plans flex column ">
    <div
      *ngFor="let request of coach.requests | slice : 1"
      class="plan-card centered"
    >
      <div class="request flex h-centered">
        <p>Description: {{ request.description }}</p>
        <div class="flex">
          <button
            *ngIf="coach.id === loggedId"
            (click)="makePlan(request.userId, request.requestId)"
          >
            Make Plan For This User
          </button>
          <button>Delete</button>
          <button
            *ngIf="coach.id === loggedId"
            (click)="deleteRequest(request.requestId)"
          >
            Delete Request
          </button>
        </div>
      </div>
    </div>
  </div>
  <h2>Plans:</h2>
  <div *ngIf="coach.plans && coach.plans.length > 1" class="plans">
    <div *ngFor="let plan of coach.plans | slice : 1" class="plan-card">
      <div class="plan-actions column flex h-centered">
        <div class="img-placeholder">
          <p>Des: {{ plan.description | slice : 1 : 100 }}</p>
          <img src="../../../../../assets/exer1.jpg" alt="img" />
        </div>
        <div>
          <button (click)="showPlan(plan)">
            {{ plan.name }}
          </button>
          <button
            *ngIf="coach.id === loggedId"
            (click)="deletePlan(plan)"
          >
            Delete Plan
          </button>
          <button
            *ngIf="!isPlanLiked(plan) && status === 'user'"
            (click)="likePlan(plan)"
          >
            Like Plan
          </button>
          <button
            *ngIf="isPlanLiked(plan) && status === 'user'"
            (click)="unlikePlan(plan)"
            class="btn"
          >
            Unlike Plan
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
