<div class="container" *ngIf="loggedObservable | async as user">
  <div class="button-row">
    <button
      *ngIf="user.status !== 'guest'"
      (click)="startCreatingPlan()"
      class="btn btn-primary"
    >
      Create your plan
    </button>
    <button (click)="createPlan()" *ngIf="creatingPlan" class="btn btn-success">
      Confirm
    </button>
    <button
      (click)="startCreatingPlan()"
      *ngIf="creatingPlan"
      class="btn btn-danger"
    >
      Cancel
    </button>
    <button *ngIf="addingExercise" (click)="confirm()" class="btn btn-primary">
      Add Exercise to Existing Plan
    </button>
    <button
      *ngIf="makingPlanForUser"
      (click)="creatingPlanForCertainUser()"
      class="btn btn-primary"
    >
      Create Plan For User
    </button>
  </div>

  <div class="input-row" *ngIf="creatingPlan">
    <input
      type="text"
      placeholder="Enter plan name"
      [(ngModel)]="planName"
      class="form-control"
    />
  </div>

  <div class="input-row" *ngIf="creatingPlan">
    <textarea
      type="text"
      placeholder="Enter plan description"
      [(ngModel)]="planDescription"
      class="form-control"
    ></textarea>
  </div>

  <div class="select-row">
    <select [(ngModel)]="sortBodyPart" class="form-select">
      <option value="">Sort by</option>
      <option *ngFor="let part of bodyParts" [value]="part">{{ part }}</option>
    </select>
  </div>

  <ng-container *ngIf="!sortBodyPart">
    <div class="body-part-row" *ngFor="let bodyPart of bodyParts">
      <div class="body-part">
        <h2>{{ bodyPart }}</h2>
        <div class="exercise-row">
          <div
            class="exercise"
            *ngFor="let exercise of exercises[bodyPart] | slice : 0 : 50"
          >
            <input
              type="checkbox"
              [(ngModel)]="exercise.selected"
              *ngIf="creatingPlan || addingExercise"
            />
            <p><strong>Target:</strong> {{ exercise.target }}</p>
            <p><strong>Equipment:</strong> {{ exercise.equipment }}</p>
            <p><strong>Name:</strong> {{ exercise.name }}</p>
            <img
              [src]="sanitizeUrl(exercise.gifUrl)"
              alt="{{ exercise.name }}"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="sortBodyPart">
    <div class="body-part-row">
      <div class="body-part">
        <div class="exercise-row">
          <div
            class="exercise"
            *ngFor="let exercise of exercises[sortBodyPart] | slice : 0 : 50"
          >
            <input
              type="checkbox"
              [(ngModel)]="exercise.selected"
              *ngIf="creatingPlan || addingExercise"
            />
            <p>Target: {{ exercise.target }}</p>
            <p>Equipment: {{ exercise.equipment }}</p>
            <p>Name: {{ exercise.name }}</p>
            <img
              [src]="sanitizeUrl(exercise.gifUrl)"
              alt="{{ exercise.name }}"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
