  <div class="container">
    <div class="registration form">
      <header>Signup</header>
      <form [formGroup]="form">
        <input formControlName="name" placeholder="Enter your name(required)" />
        <input formControlName="lastname" placeholder="Enter your lastname(required)" />
        <input formControlName="email" placeholder="Enter your email(required) " />
        <input formControlName="phoneNumber" placeholder="Enter your phoneNumber(required) " />
        <input formControlName="nickName" placeholder="Enter your nickName(required) " />
        <input
          type="password"
          formControlName="password"
          placeholder="Enter your password(required)"
        />
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Enter your confirmPassword(required)"
        />
        <input formControlName="age" placeholder="Enter your age(required)" />
        <button [disabled]="form.invalid" (click)="submit" routerLink="/login">Registrate As Coach</button>
      </form>
      <div class="signup">
        <span class="signup"
          >Already have an account?
          <label routerLink="/login" for="check">Login</label>
        </span>
      </div>
    </div>
  </div>
  