.container {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 60%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  > .registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    > header {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    > form {
      display: flex;
      flex-direction: column;
      > button {
        color: #fff;
        background: #009579;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 1.7rem;
        cursor: pointer;
        transition: 0.4s;
        padding: 10px 20px;
        border-radius: 5px;
        width: 98%;
        margin-bottom: 20px;
      }
      > input {
        height: 40px;
        width: 95%;
        padding: 0 15px;
        font-size: 17px;
        margin-bottom: 1.3rem;
        border: 1px solid #ddd;
        border-radius: 6px;
        outline: none;
    
      }
    }
    .signup {
      font-size: 17px;
      text-align: center;
      margin-bottom: 20px;
      > label {
        cursor: pointer;
      }
      p {
        cursor: pointer;
      }
    }
  }
}
@media screen and (min-width: 550px) {
  .container{
    width: 400px;
  }
}