@use "src/styles.scss" as m;
select{
  margin-left: 45%;
  margin-top: 20px;
  padding: 5px;
}
.planContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    background-color: rgb(226, 223, 216);
    color: rgb(255, 0, 0);
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 320px;
    height: 320px;
    justify-content: space-between;


    .card-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;
      >p:first-child{
        margin-top: 30px;
      }
      
      
    }
    > div:last-child {
      justify-content: center;
      gap: 5px;
    }
    button {
      background-color: rgb(194, 45, 194);
      color: white;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      border-radius: 2px;
      width: 140px; 
      height: 45px;
    }

    .like-btn {
      background-color: #4caf50;
    }
    .unlike-btn {
      background-color: #f44336;
    }
  }
}
