<div class="container">
  <ng-container *ngIf="userOrCoach; else loading">
    <div class="card">
      <h4>Plan by: {{ userOrCoach.nickName }}</h4>
      <p>userOrCoach Email: {{ userOrCoach.email }}</p>
    </div>

    <div *ngIf="plan" class="card">
      <h4>Plan Name: {{ plan.name }}</h4>
      <h4 class="description">Description:{{ plan.description }}</h4>
      <h4>Exercises:</h4>
      <div *ngFor="let exercise of plan.exercises" class="exercise">
        <p>Name: {{ exercise.name }}</p>
        <p>Target: {{ exercise.target }}</p>
        <img [src]="sanitizeUrl(exercise.gifUrl)" alt="{{ exercise.name }}" />
      </div>
    </div>
  </ng-container>

  <ng-template  #loading>
    <div *ngIf="loadingError === true">
      <h1>if you cannot see info of this plan it might be deleted by userOrCoach itself.</h1>
    </div>
  </ng-template>
</div>
