<div class="container flex">
  <div class="menu-icon">
    <div>
      <img
        (click)="showMenu()"
        src="../../../../assets/menuicon.png"
        alt="img"
      />
      <div *ngIf="menu | async" class="dropdown-content">
        <button routerLink="/home">Home</button>
        <button routerLink="/coach-feature/coach-list">Coaches</button>
        <button routerLink="/exercises">Exercises</button>
        <button routerLink="/calculate/bmi">BMI</button>
        <button routerLink="/calculate/bmr">BMR</button>
        <button routerLink="/calculate/one-rep-max">One-Rep-Max</button>
        <button routerLink="/user/user-registration">Registration</button>
      </div>
    </div>
    <div>
      <img src="../../../../assets/logo.jpg" alt="img" />
    </div>
    <div class="flex h-centered">
      <button *ngIf="loggedStatus === 'guest'" routerLink="/login/login">
        Log In
      </button>
      <img
        *ngIf="loggedStatus === 'user'"
        routerLink="/user/user-info"
        [src]="userOrCoach?.profileImgUrl"
        alt="img"
      />
      <img
        *ngIf="loggedStatus === 'coach'"
        onclick="navigate()"
        [src]="userOrCoach?.profileImgUrl"
        alt="img"
      />
    </div>
  </div>
  <div class="navigation-profile flex">
    <div class="navigation flex">
      <img routerLink="/welcome" src="../../../../assets/logo.jpg" alt="img" />
      <div>
        <button routerLink="/home">Home</button>
      </div>
      <div>
        <button routerLink="/coach-feature/coach-list">Coaches</button>
      </div>
      <div>
        <button routerLink="/exercises">Exercises</button>
      </div>

      <div class="dropdown flex h-centered">
        <button>Calculate</button>
        <div class="dropdown-content">
          <button routerLink="/calculate/bmi">BMI</button>
          <button routerLink="/calculate/bmr">BMR</button>
          <button routerLink="/calculate/one-rep-max">One-Rep-Max</button>
        </div>
      </div>
      <div class="dropdown flex h-centered">
        <button>Registration</button>
        <div class="dropdown-content">
          <button routerLink="/user/user-registration">User</button>
          <button routerLink="/coach-feature/coach-registration">Coach</button>
        </div>
      </div>
    </div>
    <div class="profile flex">
      <div
        *ngIf="loggedStatus !== 'guest'"
        class="img-container flex h-centered"
      >
        <img
          routerLink="/user/user-info"
          *ngIf="loggedStatus === 'user'"
          [src]="userOrCoach?.profileImgUrl"
          alt="img"
        />
        <img
          (click)="navigate()"
          *ngIf="loggedStatus === 'coach'"
          [src]="userOrCoach?.profileImgUrl"
          alt="img"
        />
      </div>
      <div
        *ngIf="loggedStatus !== 'guest'"
        class="info-container flex column v-centered"
      >
        <p (click)="navigate()" *ngIf="loggedStatus === 'coach'">
          {{ userOrCoach?.nickName }}
        </p>
        <p (click)="navigate()" *ngIf="loggedStatus === 'coach'">
          {{ userOrCoach?.status }}
        </p>
        <p routerLink="/user/user-info" *ngIf="loggedStatus === 'user'">
          {{ userOrCoach?.nickName }}
        </p>
        <p routerLink="/user/user-info" *ngIf="loggedStatus === 'user'">
          {{ userOrCoach?.status }}
        </p>

        <p (click)="logOut()" *ngIf="loggedStatus !== 'guest'">Log Out</p>
      </div>
    </div>

    <div *ngIf="loggedStatus === 'guest'" class="flex h-centered">
      <button routerLink="/login/login">Log In</button>
    </div>
  </div>
</div>
