<span>calculate your BMI</span>
<button>Log In</button>
<button>Log Out</button>
<button routerLink="/coach-feeature/coach-list">all Coach</button>
<button routerLink="/coach-feature/coach-registration">coach registration</button>
<button routerLink="/user/user-registration">user registration</button>
<button routerLink="/user/user-info">user info</button>
<button routerLink="/exercises">exercises</button>

<button routerLink="/calculate/bmi">BMI</button>
<button routerLink="/calculate/bmr">BMR</button>
<button routerLink="/calculate/one-rep-max">One-Rep-Max</button>
