<select [(ngModel)]="selectedSortOption" (change)="sortCoaches()">
  <option value="">Sort by</option>
  <option value="popular">popular</option>
  <option value="recent">recent</option>
  <option value="oldest">oldest</option>
  <option value="unpopular">unpopular</option>
</select>

<div class="container flex">
  <div class="all-coach flex" *ngFor="let coach of allCoachValues ; let i = index">
    <div class="coach-card">
      <img [src]="coach.profileImgUrl" alt="img">
      <p>Nickname: {{coach.nickName}}</p>
      <p>Email: {{coach.email}}</p>
      <p>Total Likes:{{coach.totalLikes}}</p>
      <p>joined {{convertTime(coach.registrationDate) }}</p>
      <button (click)="navigateToCoach(allCoachKeys[i])">See Coach Info</button>
    </div>
  </div>
</div>