<div class="coach-card-container">
  <ng-container *ngIf="allCoachValues">
    <div class="coach-card" *ngFor="let coach of allCoachValues; let i=index">
      <div>
        <p><strong>Nickname:</strong> {{ coach.nickName }}</p>
        <p><strong>Email:</strong> {{ coach.email }}</p>
        <button (click)="navigateToCoach(allCoachKeys[i])">See Coach Info</button>
        <p>{{allCoachKeys[i]}}</p>
      </div>
      <div class="card-buttons">
        <div class="request-buttons">
          <button (click)="navigateToCoach(coach.id!)">View Details</button>
          <button>Request Plan</button>
        </div>
        <div class="plan-request-form">
        <h2>Request Plan</h2>
        <textarea
          #planDescription
          placeholder="Write your plan description here"
        ></textarea>
        <button (click)="requestPlan(allCoachKeys[i], planDescription.value)">
          Confirm
        </button>
        <button class="cancel-button" (click)="cancelPlanRequest()">
          Cancel
        </button>
      </div>
    </div>
    </div>
  </ng-container>
</div>
