<div *ngIf="userPlans | async as user" class="container flex column h-centered">
  <div *ngIf="changingImage" class="change-img centered column ">
    <div class="flex">
      <div *ngFor="let img of images">
        <input type="radio" name="selected" (change)="selectImage(img)" />
        <img [src]="img" alt="img" />
      </div>
    </div>
    <div class="flex">
    <button (click)="changeProgilePhoto(selectedImage!)">change</button>
    <button (change)="cancel()" >cancel</button>
  </div>
  </div>
  <div class="userInfo flex">
    <div class="img-container flex h-centered column">
      <img [src]="user.profileImgUrl" alt="img" />
      <button (click)="change()" >Change</button>
    </div>
    <div class="data flex column">
      <h2>nickName:{{ user.nickName }}</h2>
      <p>Email: {{ user.email }}</p>
      <p *ngIf="user.bmi">bmi: {{ user.bmi }}</p>
      <button routerLink="/calculate/bmi" *ngIf="user.bmi === ''">
        calculate Your BMI
      </button>
      <p *ngIf="user.bmr">bmr: {{ user.bmr }}</p>
      <button routerLink="/calculate/bmr" *ngIf="user.bmr === ''">
        calculate Your BMR
      </button>
      <p *ngIf="user.orm">One-Rep-Max: {{ user.orm }}</p>
      <button routerLink="/calculate/one-rep-max" *ngIf="user.orm === ''">
        calculate Your One-Rep-Max
      </button>
    </div>
  </div>

  <h2>Requested Plans:</h2>
  <div
    *ngIf="user.requestedPlans && user.requestedPlans.length > 1"
    class="plans"
  >
    <div
      *ngFor="let requestedPlan of user.requestedPlans | slice : 1"
      class="plan-card"
    >
      <div class="plan-actions">
        <div class="img-placeholder">
          <p>Name: {{ requestedPlan.name }}</p>
          <img src="assets/exer1.jpg" alt="img" />
        </div>
        <div>
          <button (click)="navigate(requestedPlan)">See more</button>
          <button (click)="deleteRequestedPlan(requestedPlan)">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <h2>Your Plans:</h2>
  <div *ngIf="user.plans && user.plans.length > 1" class="plans">
    <div *ngFor="let plans of user.plans | slice : 1" class="plan-card flex">
      <div class="plan-actions">
        <div class="img-placeholder">
          <p>Name: {{ plans.name }}</p>
          <img src="assets/exer1.jpg" alt="img" />
        </div>
        <div>
          <button (click)="navigate(plans)">See more</button>
          <button (click)="deletePlan(plans, 'personal')">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <h2>Liked Plans:</h2>
  <div *ngIf="user.likedPlans && user.likedPlans.length > 1" class="plans">
    <div
      *ngFor="let likedPlan of user.likedPlans | slice : 1"
      class="plan-card"
    >
      <div class="plan-actions">
        <div class="img-placeholder">
          <p>Name: {{ likedPlan.name }}</p>
          <img src="assets/exer1.jpg" alt="img" />
        </div>
        <div>
          <button (click)="navigate(likedPlan)">See more</button>
          <button (click)="deletePlan(likedPlan,'liked')">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
