<div class="userPlans" *ngIf="userPlans | async as user">
  <div *ngIf="user" class="userInfo">
    <h2>Coach: {{ user.name }} {{ user.lastname }}</h2>
    <h2>nickName:{{user.nickName}}</h2>
    <p>Email: {{ user.email }}</p>
    <p>Phone Number: {{ user.phoneNumber }}</p>
  </div>

  <div *ngIf="user.requestedPlans && user.requestedPlans.length" class="requestedPlans">
    <h3>Requested Plans:</h3>
    <div *ngFor="let requestedPlan of user.requestedPlans" class="plan-card">
      <div class="plan-actions">
        <button (click)="showRequestedPlan(requestedPlan)">{{ requestedPlan.planName }}</button>
        <button (click)="deleteRequestedPlan(requestedPlan)">Delete</button>
      </div>
      <p>Description: {{requestedPlan.description}}</p>
      <div *ngIf="selectedPlan && selectedPlan.planId === requestedPlan.planId" class="plan-exercises">
        <h4>Exercises for {{ requestedPlan.planName }}:</h4>
        <div *ngFor="let exercise of requestedPlan.exercises; let i = index" class="exercise-card">
          <div class="exercise-info">
            <p>{{ exercise.name }}</p>
          </div>
          <img [src]="sanitizeUrl(exercise.gifUrl)" alt="{{ exercise.name }}" />
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="user.likedPlans && user.likedPlans.length" class="likedPlans">
    <h3>Liked Plans:</h3>
    <div *ngFor="let likedPlan of user.likedPlans" class="plan-card">
      <div class="plan-actions">
        <button (click)="showPlan(likedPlan)">{{ likedPlan.name }}</button>
        <button (click)="deletePlan(likedPlan)">Delete Plan</button>
        <button (click)="navigate(likedPlan)">see more</button>
      </div>
      <div *ngIf="selectedPlan && selectedPlan.planId === likedPlan.planId" class="plan-exercises">
        <h4>Exercises for {{ likedPlan.name }}:</h4>
        <div *ngFor="let exercise of likedPlan.exercises; let i = index" class="exercise-card">
          <div class="exercise-info">
            <p>{{ exercise.name }}</p>
          </div>
          <img [src]="sanitizeUrl(exercise.gifUrl)" alt="{{ exercise.name }}" />
        </div>
      </div>
    </div>
  </div>
  

  <div *ngIf="user.plans && user.plans.length" class="yourPlans">
    <h3>Your Plans:</h3>
    <div *ngFor="let plan of user.plans" class="plan-card">
      <div class="plan-actions">
        <button (click)="showPlan(plan)">{{ plan.name }}</button>
        <button (click)="deletePlan(plan)">Delete Plan</button>
        <button (click)="addExercise(plan)">Add Exercise</button>
      </div>
      <div *ngIf="selectedPlan && selectedPlan.planId === plan.planId" class="plan-exercises">
        <h4>Exercises for {{ plan.name }}:</h4>
        <div *ngFor="let exercise of plan.exercises; let i = index" class="exercise-card">
          <div class="exercise-info">
            <p>{{ exercise.name }}</p>
            <button (click)="deleteExercise(plan, exercise)">Delete Exercise</button>
            <button *ngIf="i > 0" (click)="moveExercise(plan, exercise, -1)">Move Up</button>
            <button *ngIf="i < plan.exercises.length - 1" (click)="moveExercise(plan, exercise, 1)">Move Down</button>
          </div>
          <img [src]="sanitizeUrl(exercise.gifUrl)" alt="{{ exercise.name }}" />
        </div>
      </div>
    </div>
  </div>

</div>
