*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body{
    width: 100%;
}
.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-centered{
  justify-content: center;
}
.h-centered{
  align-items: center;
}
@mixin myButton($width, $height, $backgroundColor,$color,$font-size,$border-radius){
  border: none;
  width: $width;
  height: $height;
  background-color: $backgroundColor;
  color: $color;
  font-size: $font-size;
  border-radius: $border-radius;
  cursor: pointer;
}